/* font */
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 100;
  src: url('~assets/scss/fonts/NotoSans-Thin.woff2') format('woff2'),
  url('~assets/scss/fonts/NotoSans-Thin.woff') format('woff');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 200;
  src: url('~assets/scss/fonts/NotoSans-Light.woff2') format('woff2'),
  url('~assets/scss/fonts/NotoSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 300;
  src: url('~assets/scss/fonts/NotoSans-DemiLight.woff2') format('woff2'),
  url('~assets/scss/fonts/NotoSans-DemiLight.woff') format('woff');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: normal;
  src: url('~assets/scss/fonts/NotoSans-Regular.woff2') format('woff2'),
  url('~assets/scss/fonts/NotoSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 500;
  src: url('~assets/scss/fonts/NotoSans-Medium.woff2') format('woff2'),
  url('~assets/scss/fonts/NotoSans-Medium.woff') format('woff');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  src: url('~assets/scss/fonts/NotoSans-Bold.woff2') format('woff2'),
  url('~assets/scss/fonts/NotoSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 900;
  src: url('~assets/scss/fonts/NotoSans-Black.woff2') format('woff2'),
  url('~assets/scss/fonts/NotoSans-Black.woff') format('woff');
}

$font-family: 'NotoSans', Helvetica, AppleSDGothicNeo, Arial, Sans-serif;
